<div>
  <h2>{{ section.settings['cta-title'] }}</h2>
  <p>New {{ collection.title }} is out! {{ section.settings['cta-text'] }}</p>
</div>
{% schema %}
{
  "name": "Call To Action",
  "settings": [
    {
      "id": "cta-title",
      "type": "text",
      "label": "Title",
      "default": "Call Us Now"
    },
    {
      "id": "cta-text",
      "type": "textarea",
      "label": "Text",
      "default": "Enter text here"
    }
  ],
  "presets": [
    {
      "name": "Call To Action",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
